/*Fuentes*/

$fuente_Principal:  'Lexend Deca', sans-serif;
$fuente_Secundaria: 'Cinzel', serif;

$delgado: 300;
$regular: 400;
$bold: 700;
$black: 900;


/*  Colores y Gradiente*/

$blanco: #fff;
$negro: #000;
$grisOscuro: #828282;
$grisClaro:  #d3d3d3;
$grisUltraClaro: #f5f5f5;
$gradienAnimation:radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    